In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime as dt
import matplotlib.pyplot as plt

In [2]:
crime_df = pd.read_csv(r"crime-data-from-2010-to-present.csv")
crime_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,102005556,2010-01-25T00:00:00,2010-01-22T00:00:00,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"{'latitude': '34.0454', 'needs_recoding': Fals..."
1,101822289,2010-11-11T00:00:00,2010-11-10T00:00:00,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"{'latitude': '33.9572', 'needs_recoding': Fals..."
2,101105609,2010-01-28T00:00:00,2010-01-27T00:00:00,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"{'latitude': '34.1211', 'needs_recoding': Fals..."
3,101620051,2010-11-11T00:00:00,2010-11-07T00:00:00,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"{'latitude': '34.241', 'needs_recoding': False..."
4,101910498,2010-04-07T00:00:00,2010-04-07T00:00:00,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"{'latitude': '34.3147', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993254,192111884,6242019-01-01T00:00:00,2019-06-21T00:00:00,1205,21,Topanga,2143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993255,199905748,1152019-01-01T00:00:00,2019-01-15T00:00:00,1940,18,Southeast,1829,910,KIDNAPPING,2000 1243 0416 0515 1402,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,910.0,NaN,NaN,NaN,2000 E 101ST ST,NaN,"{'latitude': '33.9449', 'needs_recoding': Fals..."
1993256,199907720,2022019-01-01T00:00:00,2019-02-01T00:00:00,2126,11,Northeast,1126,946,OTHER MISCELLANEOUS CRIME,1407 1300 1309 0906,...,NaN,IC,Invest Cont,946.0,998.0,NaN,NaN,CORINGA,N AVENUE 53,"{'latitude': '34.1244', 'needs_recoding': Fals..."
1993257,199916823,4262019-01-01T00:00:00,2019-02-05T00:00:00,1600,17,Devonshire,1794,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",NaN,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,8400 RESEDA BL,NaN,"{'latitude': '34.2227', 'needs_recoding': Fals..."
1993258,199916825,4262019-01-01T00:00:00,2019-01-07T00:00:00,1600,17,Devonshire,1794,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",NaN,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,8400 RESEDA BL,NaN,"{'latitude': '34.2227', 'needs_recoding': Fals..."

In [3]:
crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1993259 entries, 0 to 1993258
Data columns (total 26 columns):
 #   Column                  Dtype
---  ------                  -----
 0   DR Number               int64
 1   Date Reported           object
 2   Date Occurred           object
 3   Time Occurred           int64
 4   Area ID                 int64
 5   Area Name               object
 6   Reporting District      int64
 7   Crime Code              int64
 8   Crime Code Description  object
 9   MO Codes                object
 10  Victim Age              int64
 11  Victim Sex              object
 12  Victim Descent          object
 13  Premise Code            float64
 14  Premise Description     object
 15  Weapon Used Code        float64
 16  Weapon Description      object
 17  Status Code             object
 18  Status Description      object
 19  Crime Code 1            float64
 20  Crime Code 2            float64
 21  Crime Code 3            float64
 22  Crime Code 4            float64
 23  Address                 object
 24  Cross Street            object
 25  Location                object
dtypes: float64(6), int64(6), object(14)
memory usage: 395.4+ MB

In [4]:
crime_df.shape

(1993259, 26)

In [5]:
crime_df.describe()

,DR Number,Time Occurred,Area ID,Reporting District,Crime Code,Victim Age,Premise Code,Weapon Used Code,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4
count,1.993259e+06,1.993259e+06,1.993259e+06,1.993259e+06,1.993259e+06,1.993259e+06,1.993209e+06,667618.000000,1.993250e+06,130161.000000,3235.000000,96.000000
mean,1.452681e+08,1.361522e+03,1.110423e+01,1.156819e+03,5.069209e+02,3.178082e+01,3.111638e+02,371.145126,5.067552e+02,950.934166,971.498300,974.218750
std,2.759142e+07,6.467373e+02,6.007329e+00,6.007339e+02,2.104709e+02,2.060810e+01,2.110329e+02,113.643154,2.103421e+02,125.442245,87.084159,84.043623
min,2.100000e+02,1.000000e+00,1.000000e+00,1.000000e+02,1.100000e+02,-9.000000e+00,1.010000e+02,101.000000,1.100000e+02,210.000000,93.000000,421.000000
25%,1.212041e+08,9.300000e+02,6.000000e+00,6.440000e+02,3.300000e+02,2.000000e+01,1.020000e+02,400.000000,3.300000e+02,998.000000,998.000000,998.000000
50%,1.502066e+08,1.430000e+03,1.200000e+01,1.203000e+03,4.410000e+02,3.200000e+01,2.100000e+02,400.000000,4.410000e+02,998.000000,998.000000,998.000000
75%,1.707102e+08,1.900000e+03,1.600000e+01,1.672000e+03,6.260000e+02,4.600000e+01,5.010000e+02,400.000000,6.260000e+02,998.000000,998.000000,998.000000
max,9.102204e+08,2.359000e+03,2.100000e+01,2.199000e+03,9.560000e+02,1.180000e+02,9.710000e+02,516.000000,9.990000e+02,999.000000,999.000000,999.000000

In [6]:
# Check if we have any NaN values

crime_df.loc[crime_df['Date Reported'].isna()]

Empty DataFrame
Columns: [DR Number, Date Reported, Date Occurred, Time Occurred, Area ID, Area Name, Reporting District, Crime Code, Crime Code Description, MO Codes, Victim Age, Victim Sex, Victim Descent, Premise Code, Premise Description, Weapon Used Code, Weapon Description, Status Code, Status Description, Crime Code 1, Crime Code 2, Crime Code 3, Crime Code 4, Address, Cross Street, Location ]
Index: []

[0 rows x 26 columns]

In [7]:
# Convert column to datetime

crime_df['Date Occurred'] = pd.to_datetime(crime_df['Date Occurred'])

In [8]:
crime_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,102005556,2010-01-25T00:00:00,2010-01-22,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"{'latitude': '34.0454', 'needs_recoding': Fals..."
1,101822289,2010-11-11T00:00:00,2010-11-10,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"{'latitude': '33.9572', 'needs_recoding': Fals..."
2,101105609,2010-01-28T00:00:00,2010-01-27,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"{'latitude': '34.1211', 'needs_recoding': Fals..."
3,101620051,2010-11-11T00:00:00,2010-11-07,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"{'latitude': '34.241', 'needs_recoding': False..."
4,101910498,2010-04-07T00:00:00,2010-04-07,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"{'latitude': '34.3147', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993254,192111884,6242019-01-01T00:00:00,2019-06-21,1205,21,Topanga,2143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993255,199905748,1152019-01-01T00:00:00,2019-01-15,1940,18,Southeast,1829,910,KIDNAPPING,2000 1243 0416 0515 1402,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,910.0,NaN,NaN,NaN,2000 E 101ST ST,NaN,"{'latitude': '33.9449', 'needs_recoding': Fals..."
1993256,199907720,2022019-01-01T00:00:00,2019-02-01,2126,11,Northeast,1126,946,OTHER MISCELLANEOUS CRIME,1407 1300 1309 0906,...,NaN,IC,Invest Cont,946.0,998.0,NaN,NaN,CORINGA,N AVENUE 53,"{'latitude': '34.1244', 'needs_recoding': Fals..."
1993257,199916823,4262019-01-01T00:00:00,2019-02-05,1600,17,Devonshire,1794,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",NaN,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,8400 RESEDA BL,NaN,"{'latitude': '34.2227', 'needs_recoding': Fals..."
1993258,199916825,4262019-01-01T00:00:00,2019-01-07,1600,17,Devonshire,1794,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",NaN,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,8400 RESEDA BL,NaN,"{'latitude': '34.2227', 'needs_recoding': Fals..."

In [9]:
# Convert column from military time to 24h format

crime_df['Time Occurred'] = crime_df['Time Occurred'].astype(str).str.zfill(4) # pads the string on the left with zeros until it reaches a total length of 4 characters
crime_df['Time Occurred'] = crime_df['Time Occurred'].str[:2] + ':' + crime_df['Time Occurred'].str[2:]

In [10]:
crime_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,102005556,2010-01-25T00:00:00,2010-01-22,23:00,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"{'latitude': '34.0454', 'needs_recoding': Fals..."
1,101822289,2010-11-11T00:00:00,2010-11-10,18:00,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"{'latitude': '33.9572', 'needs_recoding': Fals..."
2,101105609,2010-01-28T00:00:00,2010-01-27,22:30,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"{'latitude': '34.1211', 'needs_recoding': Fals..."
3,101620051,2010-11-11T00:00:00,2010-11-07,16:00,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"{'latitude': '34.241', 'needs_recoding': False..."
4,101910498,2010-04-07T00:00:00,2010-04-07,16:00,19,Mission,1902,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"{'latitude': '34.3147', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993254,192111884,6242019-01-01T00:00:00,2019-06-21,12:05,21,Topanga,2143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993255,199905748,1152019-01-01T00:00:00,2019-01-15,19:40,18,Southeast,1829,910,KIDNAPPING,2000 1243 0416 0515 1402,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,910.0,NaN,NaN,NaN,2000 E 101ST ST,NaN,"{'latitude': '33.9449', 'needs_recoding': Fals..."
1993256,199907720,2022019-01-01T00:00:00,2019-02-01,21:26,11,Northeast,1126,946,OTHER MISCELLANEOUS CRIME,1407 1300 1309 0906,...,NaN,IC,Invest Cont,946.0,998.0,NaN,NaN,CORINGA,N AVENUE 53,"{'latitude': '34.1244', 'needs_recoding': Fals..."
1993257,199916823,4262019-01-01T00:00:00,2019-02-05,16:00,17,Devonshire,1794,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",NaN,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,8400 RESEDA BL,NaN,"{'latitude': '34.2227', 'needs_recoding': Fals..."
1993258,199916825,4262019-01-01T00:00:00,2019-01-07,16:00,17,Devonshire,1794,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",NaN,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,8400 RESEDA BL,NaN,"{'latitude': '34.2227', 'needs_recoding': Fals..."

In [12]:
# Create a def function to convert dates (eg 1152019-01-01T00:00:00) to the correct format using Regex

import re

def fix_mmddyyyy_prefix(s):

    s = str(s)

    m = re.match(r'^(\d{7})[^T]*(T.*)$', s)
    if m:
        date = m.group(1)
        month = int(date[0])
        day = int(date[1:3])
        year = int(date[3:])
        time = m.group(2)
        
        return f"{year:04d}-{month:02d}-{day:02d}{time}"
    else:
        return s

In [13]:
crime_df['Date Reported'] = crime_df['Date Reported'].apply(fix_mmddyyyy_prefix)

In [14]:
crime_df['Date Reported'] = pd.to_datetime(crime_df['Date Reported'])

In [15]:
crime_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,102005556,2010-01-25,2010-01-22,23:00,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"{'latitude': '34.0454', 'needs_recoding': Fals..."
1,101822289,2010-11-11,2010-11-10,18:00,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"{'latitude': '33.9572', 'needs_recoding': Fals..."
2,101105609,2010-01-28,2010-01-27,22:30,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"{'latitude': '34.1211', 'needs_recoding': Fals..."
3,101620051,2010-11-11,2010-11-07,16:00,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"{'latitude': '34.241', 'needs_recoding': False..."
4,101910498,2010-04-07,2010-04-07,16:00,19,Mission,1902,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"{'latitude': '34.3147', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993254,192111884,2019-06-24,2019-06-21,12:05,21,Topanga,2143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993255,199905748,2019-01-15,2019-01-15,19:40,18,Southeast,1829,910,KIDNAPPING,2000 1243 0416 0515 1402,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,910.0,NaN,NaN,NaN,2000 E 101ST ST,NaN,"{'latitude': '33.9449', 'needs_recoding': Fals..."
1993256,199907720,2019-02-02,2019-02-01,21:26,11,Northeast,1126,946,OTHER MISCELLANEOUS CRIME,1407 1300 1309 0906,...,NaN,IC,Invest Cont,946.0,998.0,NaN,NaN,CORINGA,N AVENUE 53,"{'latitude': '34.1244', 'needs_recoding': Fals..."
1993257,199916823,2019-04-26,2019-02-05,16:00,17,Devonshire,1794,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",NaN,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,8400 RESEDA BL,NaN,"{'latitude': '34.2227', 'needs_recoding': Fals..."
1993258,199916825,2019-04-26,2019-01-07,16:00,17,Devonshire,1794,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",NaN,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,8400 RESEDA BL,NaN,"{'latitude': '34.2227', 'needs_recoding': Fals..."

In [16]:
# Imported PDF to extract data and covert to JSON. Created a def function using Regex to read the 4-digit codes + read the description

import pdfplumber
import json

pdf_path = "MO_CODES_Numerical_20180627.pdf"
output_path = "mo_codes.json"

codes = {}

with pdfplumber.open(pdf_path) as pdf:
    for page in pdf.pages:
        text = page.extract_text()
        if not text:
            continue

        for line in text.split("\n"):
            # match: 4-digit code + description
            match = re.match(r"^(\d{4})\s+(.+)", line)
            if match:
                code, description = match.groups()
                codes[code] = description.strip()

with open(output_path, "w", encoding="utf-8") as f:
    json.dump(codes, f, indent=2, ensure_ascii=False)

In [17]:
# Open the JSON file in read mode

with open('mo_codes.json', 'r') as file:
    mo_codes = json.load(file)

In [18]:
#Pass the values from Json we created to a new column in the crime.df

def str_to_lst_mo(row):
    if pd.isna(row):
        return None
    else:
        row = str(row).split(' ')
        results = []
        for i in row:
            i = i.strip()
            results.append(mo_codes.get(i, f"UNKNOWN_MO_{i}"))
        return results
    
#crime_df['MO Codes Description']= crime_df['MO Codes'].apply(str_to_lst_mo)

crime_df.insert(
    10,
    'MO Codes Description',
    crime_df['MO Codes'].apply(str_to_lst_mo)
)

In [20]:
print(crime_df.columns)

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'MO Codes Description',
       'Victim Age', 'Victim Sex', 'Victim Descent', 'Premise Code',
       'Premise Description', 'Weapon Used Code', 'Weapon Description',
       'Status Code', 'Status Description', 'Crime Code 1', 'Crime Code 2',
       'Crime Code 3', 'Crime Code 4', 'Address', 'Cross Street', 'Location '],
      dtype='object')

### Victim Descent

In [21]:
crime_df['Victim Descent'].unique()

array([nan, 'W', 'H', 'X', 'O', 'B', 'A', 'K', 'P', 'C', 'G', 'F', 'J',
       'I', 'V', 'U', 'S', 'Z', 'D', 'L', '-'], dtype=object)

In [22]:
# Created dictionary for VD Abbreviation to add afterwards the description

victim_descent_mapping_dict = {
    'A': 'Other Asian',
    'B': 'Black',
    'C': 'Chinese',
    'D': 'Cambodian',
    'F': 'Filipino',
    'G': 'Guamanian',
    'H': 'Hispanic/Latin/Mexican',
    'I': 'American Indian/Alaskan Native',
    'J': 'Japanese',
    'K': 'Korean',
    'L': 'Laotian',
    'O': 'Other',
    'P': 'Pacific Islander',
    'S': 'Samoan',
    'U': 'Hawaiian',
    'V': 'Vietnamese',
    'W': 'White',
    'X': 'Unknown',
    'Z': 'Asian Indian',
    '-': 'Not Reported',
}

In [23]:
# Renamed column to a shorter name

crime_df.rename(columns={'Victim Descent':'VD Abbr'}, inplace=True)
print(crime_df.columns)

Index(['DR Number', 'Date Reported', 'Date Occurred', 'Time Occurred',
       'Area ID', 'Area Name', 'Reporting District', 'Crime Code',
       'Crime Code Description', 'MO Codes', 'MO Codes Description',
       'Victim Age', 'Victim Sex', 'VD Abbr', 'Premise Code',
       'Premise Description', 'Weapon Used Code', 'Weapon Description',
       'Status Code', 'Status Description', 'Crime Code 1', 'Crime Code 2',
       'Crime Code 3', 'Crime Code 4', 'Address', 'Cross Street', 'Location '],
      dtype='object')

In [24]:
#create new column to add Victim Descent Abbr Description

crime_df.insert(
    14,
    'VD Mapping',
    crime_df['VD Abbr'].replace(victim_descent_mapping_dict)
)

### Victim Sex

In [25]:
crime_df["Victim Sex"].value_counts().sort_index()

Victim Sex
-         1
F    840397
H        70
M    920405
N        17
X     46409
Name: count, dtype: int64

In [26]:
crime_df['Victim Sex'].unique() #X, H, - , N

array([nan, 'F', 'M', 'X', 'H', '-', 'N'], dtype=object)

In [27]:
crime_df = crime_df[(crime_df['Victim Sex'] == 'F') | (crime_df['Victim Sex'] == 'M')]
crime_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
12,101111639,2010-05-05,2010-05-02,16:00,11,Northeast,1184,330,BURGLARY FROM VEHICLE,0344 1605,...,NaN,AA,Adult Arrest,330.0,NaN,NaN,NaN,MORTON,PARK,"{'latitude': '34.0825', 'needs_recoding': Fals..."
23,101306897,2010-02-13,2010-02-12,15:30,13,Newton,1383,850,INDECENT EXPOSURE,0529,...,NaN,AO,Adult Other,850.0,NaN,NaN,NaN,6000 S BROADWAY,NaN,"{'latitude': '33.9851', 'needs_recoding': Fals..."
33,101405545,2010-01-25,2010-01-25,12:20,14,Pacific,1496,625,OTHER ASSAULT,0416,...,NaN,IC,Invest Cont,625.0,NaN,NaN,NaN,VICKSBURG,96TH,"{'latitude': '33.9489', 'needs_recoding': Fals..."
36,101420432,2010-09-08,2010-09-03,10:30,14,Pacific,1431,330,BURGLARY FROM VEHICLE,0344 1300,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,HORIZON,PACIFIC,"{'latitude': '33.9886', 'needs_recoding': Fals..."
38,101500638,2010-02-13,2010-02-12,23:00,15,N Hollywood,1509,330,BURGLARY FROM VEHICLE,1307 1609,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,VALERIO,DENNY,"{'latitude': '34.2048', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993251,192111879,2019-06-24,2019-06-11,23:00,21,Topanga,2143,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,...,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993252,192111880,2019-06-24,2019-06-21,17:00,21,Topanga,2139,310,BURGLARY,1606 0344,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,20200 VALERIO ST,NaN,"{'latitude': '34.2044', 'needs_recoding': Fals..."
1993253,192111882,2019-06-24,2019-06-22,05:30,21,Topanga,2187,888,TRESPASSING,1501,...,NaN,IC,Invest Cont,888.0,NaN,NaN,NaN,5000 CATALON AV,NaN,"{'latitude': '34.1604', 'needs_recoding': Fals..."
1993254,192111884,2019-06-24,2019-06-21,12:05,21,Topanga,2143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993255,199905748,2019-01-15,2019-01-15,19:40,18,Southeast,1829,910,KIDNAPPING,2000 1243 0416 0515 1402,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,910.0,NaN,NaN,NaN,2000 E 101ST ST,NaN,"{'latitude': '33.9449', 'needs_recoding': Fals..."

In [28]:
crime_df['Victim Sex'].value_counts().sort_index()

Victim Sex
F    840397
M    920405
Name: count, dtype: int64

### Victim Age

In [29]:
crime_df['Victim Age'].value_counts().sort_index()

Victim Age
-7       9
-6      11
-5      13
-4      24
-3      38
      ...
 95    231
 96    180
 97    149
 98    108
 99    729
Name: count, Length: 106, dtype: int64

In [30]:
# Removed ages below 0

crime_df = crime_df[crime_df['Victim Age']>0]
crime_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
12,101111639,2010-05-05,2010-05-02,16:00,11,Northeast,1184,330,BURGLARY FROM VEHICLE,0344 1605,...,NaN,AA,Adult Arrest,330.0,NaN,NaN,NaN,MORTON,PARK,"{'latitude': '34.0825', 'needs_recoding': Fals..."
23,101306897,2010-02-13,2010-02-12,15:30,13,Newton,1383,850,INDECENT EXPOSURE,0529,...,NaN,AO,Adult Other,850.0,NaN,NaN,NaN,6000 S BROADWAY,NaN,"{'latitude': '33.9851', 'needs_recoding': Fals..."
33,101405545,2010-01-25,2010-01-25,12:20,14,Pacific,1496,625,OTHER ASSAULT,0416,...,NaN,IC,Invest Cont,625.0,NaN,NaN,NaN,VICKSBURG,96TH,"{'latitude': '33.9489', 'needs_recoding': Fals..."
36,101420432,2010-09-08,2010-09-03,10:30,14,Pacific,1431,330,BURGLARY FROM VEHICLE,0344 1300,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,HORIZON,PACIFIC,"{'latitude': '33.9886', 'needs_recoding': Fals..."
38,101500638,2010-02-13,2010-02-12,23:00,15,N Hollywood,1509,330,BURGLARY FROM VEHICLE,1307 1609,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,VALERIO,DENNY,"{'latitude': '34.2048', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993251,192111879,2019-06-24,2019-06-11,23:00,21,Topanga,2143,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,...,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993252,192111880,2019-06-24,2019-06-21,17:00,21,Topanga,2139,310,BURGLARY,1606 0344,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,20200 VALERIO ST,NaN,"{'latitude': '34.2044', 'needs_recoding': Fals..."
1993253,192111882,2019-06-24,2019-06-22,05:30,21,Topanga,2187,888,TRESPASSING,1501,...,NaN,IC,Invest Cont,888.0,NaN,NaN,NaN,5000 CATALON AV,NaN,"{'latitude': '34.1604', 'needs_recoding': Fals..."
1993254,192111884,2019-06-24,2019-06-21,12:05,21,Topanga,2143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993255,199905748,2019-01-15,2019-01-15,19:40,18,Southeast,1829,910,KIDNAPPING,2000 1243 0416 0515 1402,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,910.0,NaN,NaN,NaN,2000 E 101ST ST,NaN,"{'latitude': '33.9449', 'needs_recoding': Fals..."

### Crime Codes

In [31]:
crime_df['Crime Code 1'].equals(crime_df['Crime Code'])

False

In [32]:
mismatched_rows = crime_df[crime_df['Crime Code'] != crime_df['Crime Code 1']]
mismatched_rows

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
2404,101006267,2010-02-16,2010-02-16,14:45,10,West Valley,1029,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0329 0421 2000,...,AXE,AO,Adult Other,740.0,930.0,NaN,NaN,15900 HART ST,NaN,"{'latitude': '34.1976', 'needs_recoding': Fals..."
3854,101010430,2010-05-11,2010-05-09,21:30,10,West Valley,1017,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0329 0421 2000,...,VERBAL THREAT,IC,Invest Cont,740.0,930.0,NaN,NaN,17000 SHERMAN WY,NaN,"{'latitude': '34.2012', 'needs_recoding': Fals..."
5137,101013899,2010-07-21,2010-07-21,14:20,10,West Valley,1077,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0329 0443,...,NaN,IC,Invest Cont,740.0,930.0,NaN,NaN,17200 VENTURA BL,NaN,"{'latitude': '34.1606', 'needs_recoding': Fals..."
5149,101014056,2010-07-24,2010-07-23,22:00,10,West Valley,1007,520,VEHICLE - ATTEMPT STOLEN,0344 1605,...,NaN,IC,Invest Cont,330.0,520.0,NaN,NaN,7700 AMESTOY AV,NaN,"{'latitude': '34.2105', 'needs_recoding': Fals..."
5404,101014514,2010-08-03,2010-08-02,22:30,10,West Valley,1063,761,BRANDISH WEAPON,0329,...,HAND GUN,IC,Invest Cont,740.0,761.0,NaN,NaN,5100 AVENIDA ORIENTE,NaN,"{'latitude': '34.1634', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989648,192105399,2019-02-01,2019-02-01,01:40,21,Topanga,2105,520,VEHICLE - ATTEMPT STOLEN,1307 0329,...,NaN,IC,Invest Cont,330.0,520.0,NaN,NaN,PARTHENIA,INTERNATIONAL,"{'latitude': '34.2282', 'needs_recoding': Fals..."
1989696,192105475,2019-02-03,2019-02-03,21:30,21,Topanga,2115,761,BRANDISH WEAPON,1822 0906 1402 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,761.0,NaN,NaN,21600 ROSCOE BL,NaN,"{'latitude': '34.2198', 'needs_recoding': Fals..."
1991488,192108783,2019-04-17,2019-04-17,16:30,21,Topanga,2146,761,BRANDISH WEAPON,2000 0448 0344,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,350.0,626.0,761.0,NaN,7100 REMMET AV,NaN,"{'latitude': '34.1992', 'needs_recoding': Fals..."
1991787,192109305,2019-04-27,2019-04-27,18:00,21,Topanga,2106,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421 0361 0329 1300,...,VERBAL THREAT,AA,Adult Arrest,745.0,930.0,NaN,NaN,8800 ETON AV,NaN,"{'latitude': '34.23', 'needs_recoding': False,..."
1992238,192110138,2019-05-16,2019-05-16,11:00,21,Topanga,2147,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,0329 0421,...,VERBAL THREAT,AO,Adult Other,740.0,930.0,NaN,NaN,21000 SHERMAN WY,NaN,"{'latitude': '34.201', 'needs_recoding': False..."

In [33]:
# Dropped the mismatched rows

crime_df = crime_df[crime_df['Crime Code'] == crime_df['Crime Code 1']]
crime_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
12,101111639,2010-05-05,2010-05-02,16:00,11,Northeast,1184,330,BURGLARY FROM VEHICLE,0344 1605,...,NaN,AA,Adult Arrest,330.0,NaN,NaN,NaN,MORTON,PARK,"{'latitude': '34.0825', 'needs_recoding': Fals..."
23,101306897,2010-02-13,2010-02-12,15:30,13,Newton,1383,850,INDECENT EXPOSURE,0529,...,NaN,AO,Adult Other,850.0,NaN,NaN,NaN,6000 S BROADWAY,NaN,"{'latitude': '33.9851', 'needs_recoding': Fals..."
33,101405545,2010-01-25,2010-01-25,12:20,14,Pacific,1496,625,OTHER ASSAULT,0416,...,NaN,IC,Invest Cont,625.0,NaN,NaN,NaN,VICKSBURG,96TH,"{'latitude': '33.9489', 'needs_recoding': Fals..."
36,101420432,2010-09-08,2010-09-03,10:30,14,Pacific,1431,330,BURGLARY FROM VEHICLE,0344 1300,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,HORIZON,PACIFIC,"{'latitude': '33.9886', 'needs_recoding': Fals..."
38,101500638,2010-02-13,2010-02-12,23:00,15,N Hollywood,1509,330,BURGLARY FROM VEHICLE,1307 1609,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,VALERIO,DENNY,"{'latitude': '34.2048', 'needs_recoding': Fals..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1993251,192111879,2019-06-24,2019-06-11,23:00,21,Topanga,2143,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,...,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993252,192111880,2019-06-24,2019-06-21,17:00,21,Topanga,2139,310,BURGLARY,1606 0344,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,20200 VALERIO ST,NaN,"{'latitude': '34.2044', 'needs_recoding': Fals..."
1993253,192111882,2019-06-24,2019-06-22,05:30,21,Topanga,2187,888,TRESPASSING,1501,...,NaN,IC,Invest Cont,888.0,NaN,NaN,NaN,5000 CATALON AV,NaN,"{'latitude': '34.1604', 'needs_recoding': Fals..."
1993254,192111884,2019-06-24,2019-06-21,12:05,21,Topanga,2143,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),0325,...,NaN,IC,Invest Cont,442.0,NaN,NaN,NaN,6600 FALLBROOK AV,NaN,"{'latitude': '34.1883', 'needs_recoding': Fals..."
1993255,199905748,2019-01-15,2019-01-15,19:40,18,Southeast,1829,910,KIDNAPPING,2000 1243 0416 0515 1402,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,910.0,NaN,NaN,NaN,2000 E 101ST ST,NaN,"{'latitude': '33.9449', 'needs_recoding': Fals..."

In [34]:
# Dropped Crime Code column and kept column Crime Code 1 as they had the same value

crime_df.drop('Crime Code', axis=1, inplace=True)

C:\Users\adag0\AppData\Local\Temp\ipykernel_30740\4121273525.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_df.drop('Crime Code', axis=1, inplace=True)

In [35]:
crime_df.drop('Cross Street', axis=1, inplace=True)

C:\Users\adag0\AppData\Local\Temp\ipykernel_30740\3281128927.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_df.drop('Cross Street', axis=1, inplace=True)

In [36]:
crime_df.drop('Crime Code 3', axis=1, inplace=True)
crime_df.drop('Crime Code 4', axis=1, inplace=True)

C:\Users\adag0\AppData\Local\Temp\ipykernel_30740\1667398072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_df.drop('Crime Code 3', axis=1, inplace=True)
C:\Users\adag0\AppData\Local\Temp\ipykernel_30740\1667398072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_df.drop('Crime Code 4', axis=1, inplace=True)

### Arrest Dataset CSV

In [37]:
arrest_df = pd.read_csv(r"arrest-data-from-2010-to-present.csv")
arrest_df

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,...,Charge Description,Address,Cross Street,Location,Zip Codes,Census Tracts,Precinct Boundaries,LA Specific Plans,Council Districts,Neighborhood Councils (Certified)
0,5666847,2019-06-22T00:00:00.000,1630.0,14,Pacific,1457,44,M,W,24.0,...,VANDALISM,12300 CULVER BL,NaN,"{'latitude': '33.992', 'human_address': '{""add...",24031.0,918.0,1137.0,10.0,10.0,85.0
1,5666688,2019-06-22T00:00:00.000,1010.0,10,West Valley,1061,8,M,O,NaN,...,NaN,19000 VANOWEN ST,NaN,"{'latitude': '34.1687', 'human_address': '{""ad...",19339.0,321.0,1494.0,NaN,4.0,10.0
2,5666570,2019-06-22T00:00:00.000,400.0,15,N Hollywood,1543,31,F,O,22.0,...,DRUNK DRIVING ALCOHOL/DRUGS,MAGNOLIA AV,LAUREL CANYON BL,"{'latitude': '34.1649', 'human_address': '{""ad...",8890.0,205.0,1332.0,17.0,5.0,39.0
3,5666529,2019-06-22T00:00:00.000,302.0,17,Devonshire,1738,23,F,W,22.0,...,DRUNK DRIVING ALCOHOL/DRUGS,HAYVENHURST ST,N REGAN FY,"{'latitude': '34.2692', 'human_address': '{""ad...",19329.0,69.0,388.0,NaN,2.0,78.0
4,5666742,2019-06-22T00:00:00.000,1240.0,14,Pacific,1472,28,M,W,8.0,...,OBSTRUCT/RESIST EXECUTIVE OFFICER,6600 ESPLANADE ST,NaN,"{'latitude': '33.9609', 'human_address': '{""ad...",25075.0,937.0,241.0,10.0,10.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276155,100504416,2010-01-01T00:00:00.000,1430.0,5,Harbor,521,17,M,H,24.0,...,MINOR BUY/ETC TOBACCO/ETC,4TH,GAFFEY,"{'latitude': '33.7406', 'human_address': '{""ad...",3342.0,975.0,1205.0,NaN,15.0,36.0
1276156,101104731,2010-01-01T00:00:00.000,2215.0,11,Northeast,1118,12,M,H,24.0,...,CURFEW - JUV ONLY,AVENUE 58,FIGUEROA ST,"{'latitude': '34.1101', 'human_address': '{""ad...",23673.0,370.0,477.0,28.0,11.0,93.0
1276157,101104211,2010-01-01T00:00:00.000,1310.0,11,Northeast,1128,52,M,H,18.0,...,DRINKING IN PUBLIC,YORK BL,AVENUE 63,"{'latitude': '34.1148', 'human_address': '{""ad...",23673.0,359.0,575.0,NaN,9.0,93.0
1276158,2179817,2010-01-01T00:00:00.000,319.0,14,Pacific,1408,24,M,H,22.0,...,DRUNK DRIVING ALCOHOL/DRUGS,NATIONAL BL,MANNING AV,"{'latitude': '34.0301', 'human_address': '{""ad...",23451.0,872.0,1124.0,9.0,6.0,75.0
1276159,2180332,2010-01-01T00:00:00.000,1815.0,19,Mission,1994,25,M,W,16.0,...,POSSESSION CONTROLLED SUBSTANCE,ROSCOE,WILLIS,"{'latitude': '34.2215', 'human_address': '{""ad...",19730.0,147.0,418.0,NaN,3.0,59.0

In [38]:
arrest_df['Arrest Date'] = pd.to_datetime(arrest_df['Arrest Date'])

In [39]:
arrest_df['Time'] = arrest_df['Time'].astype('Int64')

In [40]:
arrest_df['Time'] = arrest_df['Time'].astype(str).str.zfill(4)
arrest_df['Time'] = arrest_df['Time'].str[:2] + ':' + arrest_df['Time'].str[2:]

In [41]:
# Rename column

arrest_df.rename(columns={'Sex Code':'Sex'}, inplace=True)

In [42]:
# Inserted additional column that describes the Descent of arrested person

arrest_df.insert(
    9,
    'DC Mapping',
    arrest_df['Descent Code'].replace(victim_descent_mapping_dict)
)

In [43]:
arrest_df.drop('Cross Street', axis=1, inplace=True)

In [44]:
arrest_df

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex,Descent Code,DC Mapping,...,Charge,Charge Description,Address,Location,Zip Codes,Census Tracts,Precinct Boundaries,LA Specific Plans,Council Districts,Neighborhood Councils (Certified)
0,5666847,2019-06-22,16:30,14,Pacific,1457,44,M,W,White,...,594(A)PC,VANDALISM,12300 CULVER BL,"{'latitude': '33.992', 'human_address': '{""add...",24031.0,918.0,1137.0,10.0,10.0,85.0
1,5666688,2019-06-22,10:10,10,West Valley,1061,8,M,O,Other,...,300(B)WIC,NaN,19000 VANOWEN ST,"{'latitude': '34.1687', 'human_address': '{""ad...",19339.0,321.0,1494.0,NaN,4.0,10.0
2,5666570,2019-06-22,04:00,15,N Hollywood,1543,31,F,O,Other,...,23152(A)VC,DRUNK DRIVING ALCOHOL/DRUGS,MAGNOLIA AV,"{'latitude': '34.1649', 'human_address': '{""ad...",8890.0,205.0,1332.0,17.0,5.0,39.0
3,5666529,2019-06-22,03:02,17,Devonshire,1738,23,F,W,White,...,23152(A)VC,DRUNK DRIVING ALCOHOL/DRUGS,HAYVENHURST ST,"{'latitude': '34.2692', 'human_address': '{""ad...",19329.0,69.0,388.0,NaN,2.0,78.0
4,5666742,2019-06-22,12:40,14,Pacific,1472,28,M,W,White,...,69PC,OBSTRUCT/RESIST EXECUTIVE OFFICER,6600 ESPLANADE ST,"{'latitude': '33.9609', 'human_address': '{""ad...",25075.0,937.0,241.0,10.0,10.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276155,100504416,2010-01-01,14:30,5,Harbor,521,17,M,H,Hispanic/Latin/Mexican,...,308(B)PC,MINOR BUY/ETC TOBACCO/ETC,4TH,"{'latitude': '33.7406', 'human_address': '{""ad...",3342.0,975.0,1205.0,NaN,15.0,36.0
1276156,101104731,2010-01-01,22:15,11,Northeast,1118,12,M,H,Hispanic/Latin/Mexican,...,45.03ALAMC,CURFEW - JUV ONLY,AVENUE 58,"{'latitude': '34.1101', 'human_address': '{""ad...",23673.0,370.0,477.0,28.0,11.0,93.0
1276157,101104211,2010-01-01,13:10,11,Northeast,1128,52,M,H,Hispanic/Latin/Mexican,...,41.27CLAMC,DRINKING IN PUBLIC,YORK BL,"{'latitude': '34.1148', 'human_address': '{""ad...",23673.0,359.0,575.0,NaN,9.0,93.0
1276158,2179817,2010-01-01,03:19,14,Pacific,1408,24,M,H,Hispanic/Latin/Mexican,...,23152(A)VC,DRUNK DRIVING ALCOHOL/DRUGS,NATIONAL BL,"{'latitude': '34.0301', 'human_address': '{""ad...",23451.0,872.0,1124.0,9.0,6.0,75.0
1276159,2180332,2010-01-01,18:15,19,Mission,1994,25,M,W,White,...,11377(A)HS,POSSESSION CONTROLLED SUBSTANCE,ROSCOE,"{'latitude': '34.2215', 'human_address': '{""ad...",19730.0,147.0,418.0,NaN,3.0,59.0

In [45]:
arrest_df['Zip Codes'] = arrest_df['Zip Codes'].astype('Int64')
arrest_df['Census Tracts'] = arrest_df['Census Tracts'].astype('Int64')
arrest_df['Precinct Boundaries'] = arrest_df['Precinct Boundaries'].astype('Int64')
arrest_df['LA Specific Plans'] = arrest_df['LA Specific Plans'].astype('Int64')
arrest_df['Council Districts'] = arrest_df['Council Districts'].astype('Int64')
arrest_df['Neighborhood Councils (Certified)'] = arrest_df['Neighborhood Councils (Certified)'].astype('Int64')

In [46]:
arrest_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1276160 entries, 0 to 1276159
Data columns (total 23 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   Report ID                          1276160 non-null  int64
 1   Arrest Date                        1276160 non-null  datetime64[ns]
 2   Time                               1276160 non-null  object
 3   Area ID                            1276160 non-null  int64
 4   Area Name                          1276160 non-null  object
 5   Reporting District                 1276160 non-null  int64
 6   Age                                1276160 non-null  int64
 7   Sex                                1276160 non-null  object
 8   Descent Code                       1276160 non-null  object
 9   DC Mapping                         1276160 non-null  object
 10  Charge Group Code                  1191571 non-null  float64
 11  Charge Group Description           1191071 non-null  object
 12  Arrest Type Code                   1276160 non-null  object
 13  Charge                             1276160 non-null  object
 14  Charge Description                 1191588 non-null  object
 15  Address                            1276160 non-null  object
 16  Location                           1276160 non-null  object
 17  Zip Codes                          1275360 non-null  Int64
 18  Census Tracts                      1264591 non-null  Int64
 19  Precinct Boundaries                1270577 non-null  Int64
 20  LA Specific Plans                  440834 non-null   Int64
 21  Council Districts                  1266583 non-null  Int64
 22  Neighborhood Councils (Certified)  1226324 non-null  Int64
dtypes: Int64(6), datetime64[ns](1), float64(1), int64(4), object(11)
memory usage: 231.2+ MB

In [47]:
arrest_df.drop(columns=['LA Specific Plans'], inplace=True, errors='ignore')

In [48]:
arrest_df

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex,Descent Code,DC Mapping,...,Arrest Type Code,Charge,Charge Description,Address,Location,Zip Codes,Census Tracts,Precinct Boundaries,Council Districts,Neighborhood Councils (Certified)
0,5666847,2019-06-22,16:30,14,Pacific,1457,44,M,W,White,...,M,594(A)PC,VANDALISM,12300 CULVER BL,"{'latitude': '33.992', 'human_address': '{""add...",24031,918,1137,10,85
1,5666688,2019-06-22,10:10,10,West Valley,1061,8,M,O,Other,...,O,300(B)WIC,NaN,19000 VANOWEN ST,"{'latitude': '34.1687', 'human_address': '{""ad...",19339,321,1494,4,10
2,5666570,2019-06-22,04:00,15,N Hollywood,1543,31,F,O,Other,...,M,23152(A)VC,DRUNK DRIVING ALCOHOL/DRUGS,MAGNOLIA AV,"{'latitude': '34.1649', 'human_address': '{""ad...",8890,205,1332,5,39
3,5666529,2019-06-22,03:02,17,Devonshire,1738,23,F,W,White,...,M,23152(A)VC,DRUNK DRIVING ALCOHOL/DRUGS,HAYVENHURST ST,"{'latitude': '34.2692', 'human_address': '{""ad...",19329,69,388,2,78
4,5666742,2019-06-22,12:40,14,Pacific,1472,28,M,W,White,...,F,69PC,OBSTRUCT/RESIST EXECUTIVE OFFICER,6600 ESPLANADE ST,"{'latitude': '33.9609', 'human_address': '{""ad...",25075,937,241,10,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276155,100504416,2010-01-01,14:30,5,Harbor,521,17,M,H,Hispanic/Latin/Mexican,...,M,308(B)PC,MINOR BUY/ETC TOBACCO/ETC,4TH,"{'latitude': '33.7406', 'human_address': '{""ad...",3342,975,1205,15,36
1276156,101104731,2010-01-01,22:15,11,Northeast,1118,12,M,H,Hispanic/Latin/Mexican,...,M,45.03ALAMC,CURFEW - JUV ONLY,AVENUE 58,"{'latitude': '34.1101', 'human_address': '{""ad...",23673,370,477,11,93
1276157,101104211,2010-01-01,13:10,11,Northeast,1128,52,M,H,Hispanic/Latin/Mexican,...,M,41.27CLAMC,DRINKING IN PUBLIC,YORK BL,"{'latitude': '34.1148', 'human_address': '{""ad...",23673,359,575,9,93
1276158,2179817,2010-01-01,03:19,14,Pacific,1408,24,M,H,Hispanic/Latin/Mexican,...,M,23152(A)VC,DRUNK DRIVING ALCOHOL/DRUGS,NATIONAL BL,"{'latitude': '34.0301', 'human_address': '{""ad...",23451,872,1124,6,75
1276159,2180332,2010-01-01,18:15,19,Mission,1994,25,M,W,White,...,F,11377(A)HS,POSSESSION CONTROLLED SUBSTANCE,ROSCOE,"{'latitude': '34.2215', 'human_address': '{""ad...",19730,147,418,3,59

In [49]:
#Export dfs to csv
crime_df.to_csv('cleaned_crime_data.csv', index=False)
arrest_df.to_csv('cleaned_arrest_data.csv', index=False)

### importing the files needed to create a csv that matches coordinates with zip codes

In [ ]:

import geopandas as gpd

areas = gpd.read_file("Census_ZIP_Code_Tabulation_Areas.shp", engine="pyogrio")
areas = areas.to_crs("EPSG:4326")

print(areas.head())
print(areas.columns)

In [ ]:
crimes = pd.read_csv("crimes_latlon.csv")

gdf_crimes = gpd.GeoDataFrame(
    crimes,
    geometry=gpd.points_from_xy(crimes.Longitude, crimes.Latitude),
    crs="EPSG:4326"
)

In [ ]:
areas = areas[["ZCTA5", "geometry"]]

In [ ]:
joined = gpd.sjoin(
    gdf_crimes,
    areas,
    how="left",
    predicate="within"
)

In [ ]:
final = joined[[
    "CrimeID",
    "Year",
    "Latitude",
    "Longitude",
    "ZCTA5"
]]

In [ ]:
final

In [ ]:
#export zip files to csv
final.to_csv("crimes_with_zip.csv", index=False)